# Working with Data - Computer Lab for Guest Lecture Julia Lane

In this computer lab we will learn more more details and practice data work to enhance the content of the lecture presented by Julia Lane on responsible data use. We will address a research question, think about data and measurement errors, and manipulate data. 

OUTLINE: 
1. Define a research question 
2. Think about what data are available 
3. Think about possible measurement errors 
4. Think about the interpretation of your results 
5. Inform your results by linking datasets

# 1. Define a reserach question
Which Community Districts in NYC show the highest number of complaints?

# 2. Think about what data are available
Find suitable data by searching the CUSP Data Catalog https://datahub.cusp.nyu.edu/catalog. You can use Urban Profiler to investigate the Metadata associated with each dataset. Using this tool will help you to decide which attributes of the data you need to answer your question so you don't have to load the entire dataset.

In [4]:
import os
import pandas as pd
import numpy as np
import re
%matplotlib inline
PUIdata = os.getenv('PUIDATA')

In [3]:
data = pd.read_csv('/projects/open/NYCOpenData/nycopendata/data/erm2-nwe9/1446832678/erm2-nwe9')

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (8,17,39,40,47,48) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# 3. Think about possible measurement errors
Do you see any problems regarding possible measurement error? Think about who is represented in the data, ommissions, duplications, content error, missing data, etc.

In [5]:
# Check if all Boroughs and Community Districts are represented in the Data 
data.head()

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
0,31911011,11/05/2015 02:59:15 AM,NaN,DOT,Department of Transportation,Street Condition,Pothole,NaN,11224,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.573431,-73.991742,"(40.57343122248129, -73.99174247588253)"
1,31908754,11/05/2015 02:09:49 AM,NaN,CHALL,CHALL,Opinion for the Mayor,HOUSING,NaN,NaN,NaN,...,NaN,NaN,NaN,1-1-1173130914,NaN,NaN,NaN,NaN,NaN,NaN
2,31910423,11/05/2015 02:06:51 AM,NaN,DPR,Department of Parks and Recreation,Root/Sewer/Sidewalk Condition,Trees and Sidewalks Program,Street,11234,1157 EAST 57 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.625004,-73.920726,"(40.62500363580505, -73.92072558378698)"
3,31909924,11/05/2015 02:02:20 AM,NaN,NYPD,New York City Police Department,Illegal Parking,Blocked Hydrant,Street/Sidewalk,11218,722 EAST 4 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.634522,-73.974790,"(40.634522428879706, -73.97479041437481)"
4,31913310,11/05/2015 01:57:20 AM,11/05/2015 01:57:31 AM,HRA,HRA Benefit Card Replacement,Benefit Card Replacement,Medicaid,NYC Street Address,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# How many unique values do we have? 
len(data["Community Board"].unique())

77

In [7]:
data["Community Board"].unique()

array(['13 BROOKLYN', '0 Unspecified', '18 BROOKLYN', '12 BROOKLYN',
       '02 STATEN ISLAND', '08 MANHATTAN', '06 BROOKLYN', '10 BRONX',
       '06 MANHATTAN', '04 BROOKLYN', '04 QUEENS', '09 MANHATTAN',
       '14 BROOKLYN', '05 MANHATTAN', '02 MANHATTAN', '10 QUEENS',
       '07 QUEENS', '02 QUEENS', '11 BROOKLYN', '05 QUEENS', '05 BROOKLYN',
       '09 QUEENS', '12 MANHATTAN', '01 BROOKLYN', '11 MANHATTAN',
       '03 BRONX', '03 STATEN ISLAND', '08 BROOKLYN', '03 BROOKLYN',
       '07 MANHATTAN', '10 MANHATTAN', '04 BRONX', '01 MANHATTAN',
       '07 BRONX', '09 BRONX', '03 MANHATTAN', '13 QUEENS', '02 BRONX',
       '12 QUEENS', '16 BROOKLYN', '08 QUEENS', '04 MANHATTAN',
       '14 QUEENS', '10 BROOKLYN', '11 QUEENS', '06 BRONX', '08 BRONX',
       '05 BRONX', '15 BROOKLYN', '02 BROOKLYN', '12 BRONX', '03 QUEENS',
       '06 QUEENS', '01 STATEN ISLAND', '01 BRONX', '01 QUEENS',
       '17 BROOKLYN', '11 BRONX', 'Unspecified QUEENS', '09 BROOKLYN',
       'Unspecified MANHATTAN', 'Unspecified BROOKLYN', '07 BROOKLYN',
       'Unspecified BRONX', '64 MANHATTAN', '81 QUEENS', '55 BROOKLYN',
       '83 QUEENS', 'Unspecified STATEN ISLAND', '28 BRONX', '80 QUEENS',
       '26 BRONX', '95 STATEN ISLAND', '82 QUEENS', '27 BRONX',
       '56 BROOKLYN', '84 QUEENS'], dtype=object)

There are more than 59 unique values because some are 'unspecified', and some actually not exsist.

In [9]:
# Check for duplicates? Are these plausible?
data_dp = data.drop_duplicates()

In [10]:
print ('Number of all duplicates: {}'.format(len(data) - len(data_dp)))

Number of all duplicates: 0

There are no duplicates in the file by using pandas' function but there some duplicate unique keys are not be detacted.

In [11]:
# What about missing values? Can you detect any patterns? 
data_dp.isnull().sum()

Unique Key                               0
Created Date                             0
Closed Date                         450879
Agency                                   0
Agency Name                              0
Complaint Type                           0
Descriptor                           31057
Location Type                      3067596
Incident Zip                        794159
Incident Address                   2197706
Street Name                        2198559
Cross Street 1                     2375943
Cross Street 2                     2425793
Intersection Street 1              8345288
Intersection Street 2              8346302
Address Type                        490299
City                                788712
Landmark                          10180456
Facility Type                      8579485
Status                                   0
Due Date                           7120286
Resolution Description             3786751
Resolution Action Updated Date      250934
Community Board                          0
Borough                                  0
X Coordinate (State Plane)          878752
Y Coordinate (State Plane)          878752
Park Facility Name                       0
Park Borough                             0
School Name                              0
School Number                         2283
School Region                        56197
School Code                          56196
School Phone Number                      0
School Address                           6
School City                              0
School State                             0
School Zip                               5
School Not Found                   7151698
School or Citywide Complaint      10185412
Vehicle Type                      10180264
Taxi Company Borough              10177601
Taxi Pick Up Location             10089207
Bridge Highway Name               10152671
Bridge Highway Direction          10152723
Road Ramp                         10152986
Bridge Highway Segment            10135780
Garage Lot Name                   10183433
Ferry Direction                   10185023
Ferry Terminal Name               10181242
Latitude                            878752
Longitude                           878752
Location                            878752
dtype: int64

## Data Editing: Is it possible to replace missing values? Is it possible to use Complaint Type to fill missings in Resolution Descriptor?

It definitely have methods to fill the missing value. Columns 'Landmark', 'School or Citywide Complaint', 'Vehicle Type', 'Taxi Company Borough', 'Garage Lot Name', 'Ferry Direction', and 'Ferry Terminal Name' contain exclusively null values. Similarly, 'Bridge Highway Name', 'Bridge Highway Direction', and 'Road Ramp' only contain one non-null value. Community Board does not have any null values.

In [12]:
# use Complaint Type to fill missings in Resolution Descriptor
data_dp["Resolution Description"].fillna(data_dp["Complaint Type"], inplace=True)
data_dp["Resolution Description"].isnull().sum()

0

## Generate marker for unplausible Community Districts
## How do these districts look like? 

The unplausible Community Districts are those which include the word 'unspecified' in the title and the Community Districts with numbers greater than 18

In [13]:
data_dp['Bad Community Board'] = data_dp['Community Board'].str.contains("Unspecified")

data_dp[['Community Board','Bad Community Board']].head()

  Community Board Bad Community Board
0     13 BROOKLYN               False
1   0 Unspecified                True
2     18 BROOKLYN               False
3     12 BROOKLYN               False
4   0 Unspecified                True

In [14]:
# Drop the marked districts

data_dpp = data_dp[data_dp['Bad Community Board'] == False]
data_dpp.head()

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location,Bad Community Board
0,31911011,11/05/2015 02:59:15 AM,NaN,DOT,Department of Transportation,Street Condition,Pothole,NaN,11224,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,40.573431,-73.991742,"(40.57343122248129, -73.99174247588253)",False
2,31910423,11/05/2015 02:06:51 AM,NaN,DPR,Department of Parks and Recreation,Root/Sewer/Sidewalk Condition,Trees and Sidewalks Program,Street,11234,1157 EAST 57 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,40.625004,-73.920726,"(40.62500363580505, -73.92072558378698)",False
3,31909924,11/05/2015 02:02:20 AM,NaN,NYPD,New York City Police Department,Illegal Parking,Blocked Hydrant,Street/Sidewalk,11218,722 EAST 4 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,40.634522,-73.974790,"(40.634522428879706, -73.97479041437481)",False
5,31914148,11/05/2015 01:55:55 AM,NaN,DOT,Department of Transportation,Highway Condition,Pothole - Highway,Highway,10304,NaN,...,East/Brooklyn Bound,Roadway,Clove Rd/Richmond Rd (Exit 13) - Lily Pond Ave...,NaN,NaN,NaN,40.606875,-74.085408,"(40.60687536641399, -74.0854077221027)",False
7,31912611,11/05/2015 01:47:12 AM,NaN,NYPD,New York City Police Department,Noise - Commercial,Loud Music/Party,Club/Bar/Restaurant,10021,1402 2 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,40.769379,-73.957930,"(40.769378795761845, -73.95793023233308)",False

In [15]:
len(data_dpp['Community Board'].unique())

71

In [16]:
data_dpp['Bad Community Board'] = data_dpp['Community Board'].str.extract('(\d+)').astype(int) >20

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  if __name__ == '__main__':
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [17]:
data_dppp = data_dpp[data_dpp['Bad Community Board'] == False]
len(data_dppp['Community Board'].unique())

59

In [19]:
# Produce your result: Generate an indicator which ranks the Community District by complaint numbers 
# on the Community district level
# Safe reduced data frame (Community District level)
datanew = data_dpp[["Community Board","Complaint Type"]]
community_complaints = datanew.groupby('Community Board').count()
community_complaints.columns = ['Number of Complaints']

In [20]:
community_complaints

                  Number of Complaints
Community Board
01 BRONX                         74631
01 BROOKLYN                     185057
01 MANHATTAN                     77974
01 QUEENS                       171484
01 STATEN ISLAND                182713
02 BRONX                         60257
02 BROOKLYN                     121022
02 MANHATTAN                    133860
02 QUEENS                       114333
02 STATEN ISLAND                121132
03 BRONX                         75134
03 BROOKLYN                     197306
03 MANHATTAN                    150296
03 QUEENS                       122009
03 STATEN ISLAND                136487
04 BRONX                        181953
04 BROOKLYN                     139706
04 MANHATTAN                    132660
04 QUEENS                        99316
05 BRONX                        161078
05 BROOKLYN                     189765
05 MANHATTAN                    142028
05 QUEENS                       168570
06 BRONX                         99547
06 BROOKLYN                     114029
06 MANHATTAN                    104249
06 QUEENS                        90938
07 BRONX                        185729
07 BROOKLYN                     107031
07 MANHATTAN                    151419
...                                ...
10 MANHATTAN                    137344
10 QUEENS                       128116
11 BRONX                        122081
11 BROOKLYN                     139890
11 MANHATTAN                     95413
11 QUEENS                       101908
12 BRONX                        168455
12 BROOKLYN                     150320
12 MANHATTAN                    268053
12 QUEENS                       229383
13 BROOKLYN                      72362
13 QUEENS                       163851
14 BROOKLYN                     187794
14 QUEENS                       103396
15 BROOKLYN                     146129
16 BROOKLYN                      85467
17 BROOKLYN                     191720
18 BROOKLYN                     156100
26 BRONX                           397
27 BRONX                           469
28 BRONX                           433
55 BROOKLYN                        767
56 BROOKLYN                        834
64 MANHATTAN                       904
80 QUEENS                         2363
81 QUEENS                         1420
82 QUEENS                          725
83 QUEENS                         3072
84 QUEENS                          274
95 STATEN ISLAND                   531

[71 rows x 1 columns]

In [45]:
ranks = datanew["Complaint Type"].groupby(datanew["Community Board"]).count()
ranks = pd.DataFrame(ranks)

In [47]:
ranking = ranks.reset_index().sort(columns=["Complaint Type"], ascending=False).reset_index(drop=True)
ranking = ranking.rename(columns = {'Complaint Type':'counts'})
ranking.head()

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

  Community Board  counts
0    12 MANHATTAN  268053
1       12 QUEENS  229383
2     03 BROOKLYN  197306
3       07 QUEENS  195961
4     17 BROOKLYN  191720

# 4. Think about the interpretation of your results?
What do you have to keep in mind when interpreting your results? Are they generable? Does the way the data is collected influence your results? To better inform city agancies it might be good to explore in more detail the underlying dempgraphics/infrastructure of a Community District becasue this might influence 311 calls. You can do this by merging external data on the Community District level to your analysis data.

In [23]:
# Population by Community District
df_pop = pd.read_csv("http://cosmo.nyu.edu/~fb55/PUI2016/data//Final_Demographics.csv")
df_pop.head()

,FIPS,cd_id,Total Population,Population Density (per sq. mile),% Total Population: Male,% Total Population: 18 to 24 Years,% Total Population: 25 to 34 Years,% Total Population: 35 to 44 Years,% Population 5 Years And Over: Speak Only English,% Population 5 Years And Over: Spanish or Spanish Creole,...,"Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Production occupations","Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Transportation and material moving occupations","% Employed Civilian Population 16 Years And Over: Management, professional, and related occupations",% Employed Civilian Population 16 Years And Over: Service occupations,% Employed Civilian Population 16 Years And Over: Sales and office occupations,"% Employed Civilian Population 16 Years And Over: Farming, fishing, and forestry occupations","% Employed Civilian Population 16 Years And Over: Construction, extraction, and maintenance occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Production occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Transportation and material moving occupations"
0,3603701,BX08,106737,31229.95006,46.65,10.73,15.04,11.32,46.80,39.24,...,665,1518,42.66,28.95,20.89,0.24,2.65,4.60,1.40,3.20
1,3603702,BX12,134644,19966.67839,46.35,11.35,14.29,12.57,73.09,18.19,...,1156,4174,29.57,33.98,20.40,0.00,7.08,8.97,1.95,7.02
2,3603703,BX10,121209,12913.81703,45.20,8.62,13.74,12.78,61.79,26.43,...,941,3433,36.20,22.85,25.09,0.00,7.68,8.18,1.76,6.42
3,3603704,BX11,135839,35677.95453,50.09,8.10,17.43,14.09,43.22,36.45,...,2189,5592,30.06,27.86,22.24,0.00,7.03,12.81,3.60,9.20
4,3603705,BX03,172247,39405.79222,44.72,14.24,14.89,12.38,36.82,54.24,...,1437,5436,16.80,41.00,22.29,0.03,8.45,11.43,2.39,9.04

In [24]:
# Check variables in file
df_pop.columns

Index([u'FIPS', u'cd_id', u'Total Population',
       u'Population Density (per sq. mile)', u'% Total Population: Male',
       u'% Total Population: 18 to 24 Years',
       u'% Total Population: 25 to 34 Years',
       u'% Total Population: 35 to 44 Years',
       u'% Population 5 Years And Over: Speak Only English',
       u'% Population 5 Years And Over: Spanish or Spanish Creole',
       ...
       u'Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Production occupations',
       u'Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Transportation and material moving occupations',
       u'% Employed Civilian Population 16 Years And Over: Management, professional, and related occupations',
       u'% Employed Civilian Population 16 Years And Over: Service occupations',
       u'% Employed Civilian Population 16 Years And Over: Sales and office occupations',
       u'% Employed Civilian Population 16 Years And Over: Farming, fishing, and forestry occupations',
       u'% Employed Civilian Population 16 Years And Over: Construction, extraction, and maintenance  occupations',
       u'% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations',
       u'% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Production occupations',
       u'% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Transportation and material moving occupations'],
      dtype='object', length=158)

In [25]:
# How many community districts are in file? 
df_pop["cd_id"].unique().shape

(59,)

In [26]:
# Manipulate data to get some information on demographics by Community District. 
# Think about who might be more likely to call 311
demograph = df_pop[["cd_id", "Median household income (In 2014 Inflation Adjusted Dollars)"]]

Normally order people or people with families tend to make compliants and call 311

In [28]:
# Infrastructure by Community District
df_infr = pd.read_csv("http://cosmo.nyu.edu/~fb55/PUI2016/data//ACS_Computer_Use_and_Internet_2014_1Year_Estimate.csv")
df_infr.head()

,FIPS,Geographic Identifier,Qualifying Name,Households,Households: With An Internet Subscription,Households: Dial-Up Alone,Households: Dsl,Households: With Mobile Broadband,Households: Without Mobile Broadband,Households: Cable Modem,...,Households: Mobile Broadband Alone or With Dialup,Households: Internet Access Without A Subscription,Households: No Internet Access,% Households: With An Internet Subscription,Households.1,Households: Has A Computer,Households: With Dial-Up Internet Subscription Alone,Households: With A Broadband Internet Subscription,Households: Without An Internet Subscription,Households: No Computer
0,3603701,79500US3603701,"NYC-Bronx Community District 8--Riverdale, New...",42035,31795,444,2813,946,1867,19178,...,2168,2119,8121,75.64,42035,35048,404,30943,3701,6987
1,3603702,79500US3603702,"NYC-Bronx Community District 12--Wakefield, Ne...",44830,32243,178,849,405,444,18653,...,928,1891,10696,71.92,44830,36700,178,31435,5087,8130
2,3603703,79500US3603703,"NYC-Bronx Community District 10--Co-op City, N...",47050,32729,158,1863,398,1465,20044,...,639,2882,11439,69.56,47050,38700,158,32333,6209,8350
3,3603704,79500US3603704,NYC-Bronx Community District 11--Pelham Parkwa...,44922,32003,141,1478,474,1004,17917,...,1001,2722,10197,71.24,44922,37237,122,31278,5837,7685
4,3603705,79500US3603705,"NYC-Bronx Community District 3 & 6--Belmont, N...",57556,35503,88,1297,651,646,15847,...,1385,3312,18741,61.68,57556,42576,88,33408,9080,14980

In [29]:
# Check variables in file
df_infr.columns

Index([u'FIPS', u'Geographic Identifier', u'Qualifying Name', u'Households',
       u'Households: With An Internet Subscription',
       u'Households: Dial-Up Alone', u'Households: Dsl',
       u'Households: With Mobile Broadband',
       u'Households: Without Mobile Broadband', u'Households: Cable Modem',
       u'Households: With Mobile Broadband.1',
       u'Households: Without Mobile Broadband.1', u'Households: Fiber-Optic',
       u'Households: With Mobile Broadband.2',
       u'Households: Without Mobile Broadband.2',
       u'Households: Satellite Internet Service',
       u'Households: With Mobile Broadband.3',
       u'Households: Without Mobile Broadband.3',
       u'Households: Two or More Fixed Broadband Types, or Other',
       u'Households: With Mobile Broadband.4',
       u'Households: Without Mobile Broadband.4',
       u'Households: Mobile Broadband Alone or With Dialup',
       u'Households: Internet Access Without A Subscription',
       u'Households: No Internet Access',
       u'% Households: With An Internet Subscription', u'Households.1',
       u'Households: Has A Computer',
       u'Households: With Dial-Up Internet Subscription Alone',
       u'Households: With A Broadband Internet Subscription',
       u'Households: Without An Internet Subscription',
       u'Households: No Computer'],
      dtype='object')

In [30]:
# How many community districts are in file? 
df_infr["Qualifying Name"].unique().shape

(55,)

In [32]:
# Manipulate data to get some information on internet/broadband useage by Community District
comm_internet = df_infr[['Qualifying Name', 'Households: With Dial-Up Internet Subscription Alone', 
                              'Households: With A Broadband Internet Subscription']]
comm_internet.columns = ['Community Name', 'low_internet_conection', 'high_internet_connection']
comm_internet['with_internet'] = comm_internet['low_internet_conection'] + comm_internet['high_internet_connection']
comm_internet.drop(['low_internet_conection', 'high_internet_connection'], axis=1, inplace=True)
comm_internet.head(10)

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

                                      Community Name  with_internet
0  NYC-Bronx Community District 8--Riverdale, New...          31347
1  NYC-Bronx Community District 12--Wakefield, Ne...          31613
2  NYC-Bronx Community District 10--Co-op City, N...          32491
3  NYC-Bronx Community District 11--Pelham Parkwa...          31400
4  NYC-Bronx Community District 3 & 6--Belmont, N...          33496
5  NYC-Bronx Community District 3 & 6--Belmont, N...          33496
6  NYC-Bronx Community District 7--Bedford Park, ...          31021
7  NYC-Bronx Community District 5--Morris Heights...          25826
8  NYC-Bronx Community District 4--Concourse, New...          28287
9  NYC-Bronx Community District 9--Castle Hill, N...          45441

In [33]:
# Aggregate the mobile subscription data
mobile = df_infr.iloc[:,[2, 7, 10, 13, 16, 19, 21]]
mobile['Mobile'] = mobile.sum(axis=1)

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [34]:
nobile =  df_infr.iloc[:,[2, 8, 11, 14, 17, 20, 22]]

In [35]:
nobile['Nobile'] = nobile.sum(axis=1)
mobile_info = pd.concat([mobile, nobile], axis=1)
mobile_info = mobile_info.iloc[:,[0, 7, 15]]
mobile_info.head()

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

                                     Qualifying Name  Mobile  Nobile
0  NYC-Bronx Community District 8--Riverdale, New...   17527   15943
1  NYC-Bronx Community District 12--Wakefield, Ne...   11414   22542
2  NYC-Bronx Community District 10--Co-op City, N...   12064   23389
3  NYC-Bronx Community District 11--Pelham Parkwa...   11749   22835
4  NYC-Bronx Community District 3 & 6--Belmont, N...   16292   22435

In [36]:
# Aggregate internet type by high and low connections
high_speed =  df_infr.iloc[:,[2, 6, 9, 12]]
high_speed['High'] = high_speed.sum(axis=1)
low_speed = df_infr.iloc[:, [2, 5, 15]]
low_speed['Low'] = low_speed.sum(axis=1)
it_info = pd.concat([high_speed, low_speed], axis=1)
it_info = it_info.ix[:,[0,4, 8]]

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [37]:
it_info.head()

                                     Qualifying Name   High  Low
0  NYC-Bronx Community District 8--Riverdale, New...  22930  519
1  NYC-Bronx Community District 12--Wakefield, Ne...  25718  309
2  NYC-Bronx Community District 10--Co-op City, N...  25397  158
3  NYC-Bronx Community District 11--Pelham Parkwa...  24830  449
4  NYC-Bronx Community District 3 & 6--Belmont, N...  18654  282

# 5. Inform your results by linking datasets
Now you want to link the three data frames to produce summary statistics for Community Districts which show a high number of complaints vs. Community Districts which show a lower number of complaints. Please keep in mind that the identifiers used for the linkage (Community Dostrict IDs) should be recored the same way. Use regular expressions to harmonize the identifiers if possible. The identifiers should look like BK01, BK02, etc.
https://docs.python.org/2/library/re.html

In [38]:
def converter_1(data):
    if re.search(r"Bronx", data, re.IGNORECASE):
        return re.sub(r"(\d\d)\s.+", r"BX\1", data)
    elif re.search(r"Queen", data, re.IGNORECASE):
        return re.sub(r"(\d\d)\s.+", r"QN\1", data)
    elif re.search(r"STATEN ISLAND", data, re.IGNORECASE):
        return re.sub(r"(\d\d)\s.+", r"SI\1", data)
    elif re.search(r"BROOKLYN", data, re.IGNORECASE):
        return re.sub(r"(\d\d)\s.+", r"BK\1", data)
    elif re.search(r"manhattan", data, re.IGNORECASE):
        return re.sub(r"(\d\d)\s.+", r"MN\1", data)

In [39]:
pat1 = re.compile(r"\w+-\w+\s*\w*\s\w+\s\w+\s(\d\d)\s*&*\d*.*", re.IGNORECASE)
pat2 = re.compile(r"\w+-\w+\s*\w*\s\w+\s\w+\s(\d)\s*&*\d*.*", re.IGNORECASE)

In [40]:
def converter_2(data):
    if re.search(r"Bronx", data,re.IGNORECASE):
        if re.search(pat1, data):
            return re.sub(pat1, r"BX\1", data)
        else:
            return re.sub(pat2, r"BX0\1", data)
    elif re.search(r"Queen", data,re.IGNORECASE):
         if re.search(pat1, data):
            return re.sub(pat1, r"QN\1", data)
         else:
            return re.sub(pat2, r"QN0\1", data)
    elif re.search(r"STATEN ISLAND", data, re.IGNORECASE):
         if re.search(pat1, data, ):
            return re.sub(pat1, r"SI\1", data)
         else:
            return re.sub(pat2, r"SI0\1", data)
    elif re.search(r"BROOKLYN", data, re.IGNORECASE):
         if re.search(pat1, data):
            return re.sub(pat1, r"BK\1", data)
         else:
            return re.sub(pat2, r"BK0\1", data)
    elif re.search(r"manhattan", data, re.IGNORECASE):
         if re.search(pat1, data):
            return re.sub(pat1, r"MN\1", data)
         else:
            return re.sub(pat2, r"MN0\1", data)

In [41]:
demo = demograph.drop_duplicates(subset="Median household income (In 2014 Inflation Adjusted Dollars)")

demo = demo.rename(columns = {'cd_id':'district'})

demo["district"][demo["district"]=="MN05"] = "MN04"

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [42]:
first = mobile_info.merge(it_info, on="Qualifying Name")
first["district"] = first["Qualifying Name"].apply(converter_2)
first.drop(["Qualifying Name"], axis=1, inplace=1)
first.drop_duplicates(inplace=1)

In [48]:
ranking["district"] = ranking["Community Board"].apply(converter_1)
ranking.drop(["Community Board"], axis=1, inplace=1)
ranking = ranking.drop_duplicates(subset="counts")

In [49]:
final = demo.merge(first, on="district", how="inner").merge(ranking, on="district", how="inner")
final

,district,Median household income (In 2014 Inflation Adjusted Dollars),Mobile,Nobile,High,Low,counts
0,BX08,54224,17527,15943,22930,519,92733
1,BX12,44906,11414,22542,25718,309,168455
2,BX10,54962,12064,23389,25397,158,95496
3,BX11,47910,11749,22835,24830,449,122081
4,BX03,22041,16292,22435,18654,282,75134
5,BX07,35495,16709,19414,22626,0,185729
6,BX05,20872,15857,13401,12431,415,161078
7,BX04,27203,18342,14419,16053,732,181953
8,BX09,36058,12892,34775,32042,669,147457
9,BX01,21116,15981,19144,20357,1145,74631
10,MN12,45157,26592,32179,46246,1799,268053
11,MN09,42235,17556,19398,25311,1411,127565
12,MN10,40564,14746,24282,29162,434,137344
13,MN08,115238,63973,41971,91094,824,149076
14,MN07,106181,49546,38942,70052,533,151419
15,MN04,98561,34994,38350,61180,329,132660
16,MN06,105625,39450,32440,63014,758,104249
17,MN03,41366,20868,29983,39186,577,150296
18,MN01,120190,41450,36201,66178,590,77974
19,SI03,82718,14334,36705,41521,331,136487
20,SI02,71459,11206,24922,28739,652,121132
21,SI01,57602,11151,37213,41169,454,182713
22,BK01,57818,21459,27556,41013,598,185057
23,BK04,40484,14171,21045,25691,139,139706
24,BK03,34678,12648,22363,25803,754,197306
25,BK02,84568,18679,29429,40267,562,121022
26,BK06,113045,23815,21612,39648,356,114029
27,BK08,44904,10559,26275,30716,533,141119
28,BK16,25259,5927,21433,21920,496,85467
29,BK05,32996,9572,29604,32455,512,189765
30,BK18,62090,19215,37513,42148,507,156100
31,BK17,42349,13596,23007,30543,622,191720
32,BK09,41814,8591,20994,24066,898,135833
33,BK07,48051,12123,24663,31085,290,107031
34,BK10,56696,19341,20053,27671,735,111837
35,BK12,43222,11935,18323,21860,539,150320
36,BK14,50316,16540,30443,37764,629,187794
37,BK15,52717,13969,27857,31439,870,146129
38,BK11,47748,17710,30758,33148,831,139890
39,BK13,29578,7779,21548,22323,492,72362
40,QN01,56269,31144,32255,54294,769,171484
41,QN03,49610,9750,32139,35375,427,122009
42,QN07,52105,23421,46121,61711,347,195961
43,QN11,80866,16201,21702,31966,314,101908
44,QN13,75732,13931,37604,40306,1006,163851
45,QN08,55324,15239,29686,38680,310,123131
46,QN04,45264,8440,25775,28781,286,99316
47,QN06,61290,13715,28978,36487,710,90938
48,QN02,57265,14616,31087,39824,520,114333
49,QN05,63660,9845,39150,43904,681,168570
50,QN09,61275,11481,25492,29993,1243,151242
51,QN12,52537,15241,39630,40100,1817,229383
52,QN10,60946,10916,20230,23567,720,128116
53,QN14,44239,6905,23412,23831,523,103396